.whiteBox {
    background-color: darkgrey;
    border: 5px black;
    text-align: center;
    border-style: double;
    padding: 10px;
    color: black;
}

h1 {
    color: black;
    background-color: darkgrey;
    text-align: center;
    display: inline;
    border-radius: 25px;
    padding: 0.5em;
    font-family: 'papyrus';
}

p {
    color: black;
    background-color: darkgrey;
    display: inline-block;
    border-radius: 25px;
    padding: 0.5em;
    border-style: double;
    font-family: 'medievalSharp';
}

.boromirPhoto {
    border-style: inset;
    border-width: 5px;
    border-color: cornsilk;
}

#heading {
    border-style: double;
}